body{
	font-family: sans-serif;
	 text-align: center;
}



#game-area{
	margin-left: auto;
	margin-right: auto;
  border: 30px solid black;
  width: 500px;
  height: 500px;
    font-size: 0;
}
.block{
  
  display: inline-block;
}
